{% extends 'base.html' %}
{% load static %}
{% block title %}Gestion de Reservas | Hamachi Sushi Bar{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'system' %}">Sistema de Gestion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i
                            class="fas fa-sign-in-alt"></i> Cerrar Sesión</a></li>
                </ul>
            </div>


        </div>
    </nav>
{% endblock %}

{% block section %}
    <div>
        <section id="card-reserva">

            <div class="container h-100">
                <div class="row">
                    <div class="col-md-10 offset-md-2  col-lg-7 offset-lg-5">
                        <h1 class="text-light" id="section-text-system">
                            Gestión de Reservas Hamachi Sushi Bar
                        </h1>
                    </div>
                </div>
            </div>


        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Genial día cierto {{ user.username }}?</h2>

                <p class="mt-2">Gestiona aquí las reservas ingresadas por nuestros clientes.</p>

            </div>

        </div>

        <table class="table table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Comensales</th>
                <th>Nro Contacto</th>
                <th>Correo</th>
            </tr>
            </thead>
            <tbody>

            {% for reserva in reservas.all %}
                <tr>
                    <td>{{ reserva.nombre }}</td>
                    <td>{{ reserva.apellidos }}</td>
                    <td>{{ reserva.fecha }}</td>
                    <td>{{ reserva.hora }}</td>
                    <td>{{ reserva.comensales }}</td>
                    <td>{{ reserva.nroContacto }}</td>
                    <td><a class="text-info" href="mailto:{{ reserva.correo }}">{{ reserva.correo }}</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}